@model Foodoku.ViewModels.ViewAllRecipeViewModel
@{ ViewBag.title = "All Recipes"; }

<h1>@ViewBag.title</h1>

<ul>
    @foreach (var recipe in Model.Recipes)
    {
        <li>@recipe.Title: @recipe.Description</li>
    }
</ul>